html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .ant-layout {
  min-height: 100vh;
} */

/* .ant-layout-header {
  background: #fff;
  box-shadow: 0 2px 8px #f0f1f2;
} */

/* .ant-layout-content {
  padding: 24px;
  background: #f0f2f5;
} */
/* 
.ant-layout-footer {
  text-align: center;
  background: #fff;
  padding: 24px 0;
} */